.logo-label-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.logo-label-box:hover {
    border: 1px solid #91C9FF;
    border-radius: 3px;
    height: 34px;
}

.edit-box {
    display: none;
}

.logo-label-box:hover > .edit-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 27%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-icon {
    font-size: 25px;
    transition: 0.1s;
}

.edit-icon:hover {
    transition: 0.1s;
    opacity: 0.5;
}

.edit-container {
    display: flex;
    flex-direction: column;
}

.editlabel-color-form {
    display: flex;
    flex-direction: column;
}

.color-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-label3 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.form-input3 {
    height: 33px;
    width: 180px;
    /* background-color: transparent; */
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.color2 {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 60px;
    color: #c731de;
    margin-left: 8px;
    margin-top: 15px;
}

.are-you-sure-text {
    font-size: 22px;
    color: #392a42; 
    font-weight: 500; 
    text-align: center; 
    margin: "0px"; 
    margin-bottom: 15px;
}

.buttons-box {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    margin: 0;
}

.btn {
    height: 35px;
    width: 110px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
}

.cancel {
    border: 1px solid #3fbf43;
    color: #3fbf43;
    transition: 0.4s ease-in-out;
}

.delete {
    border: 1px solid #f52f42;
    color: #f52f42;
    transition: 0.4s ease-in-out;
}

.cancel:hover {
    background-color: #3fbf43;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.delete:hover {
    background-color: #f52f42;
    color: #fff;
    transition: 0.4s ease-in-out;
}